/* Checklist.css */

.checklist {
    list-style: none;
  }
  
  .checkbox-and-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    /* Hide the default checkbox */
    appearance: none;
    /* Create a custom checkbox */
    width: 40px;
    height: 40px;
/*    margin-right: 10px;*/
    border: 2px solid var(--dark-blue);
    background-image: linear-gradient(to bottom right, var(--light-blue),  var(--light-blue-shading));
    border-radius: 4px;
    cursor: pointer;
  }
  
  .checkbox:checked::before {
    /* Display a checkmark when the checkbox is checked */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 37px;
    height: 37px;
    background-color: var(--blue);
    background-image: linear-gradient(to top left, var(--blue),  var(--blue-shading));
    border-radius: 2px;

    /* Text properties */
    color: var(--light-blue);
    font-size: 35px;
    content: "✔";
  }
  
  .checkbox::before {
    /* Empty by default */
    content: '';
    display: block;
  }
  
  .checkbox:checked {
    /* Change the color when checked */
    border-color: var(--dark-blue);
  }
  