.dropdown-container{
    background-color: var(--light-gray);
    padding: 10px;
    color: var(--black);
    display: grid; align-items:center; 
    width: 33vw;
    border-radius: 10px;
}
.note{
    color: var(--dark-gray);
    max-width: 33vw;
    text-align: center;
    align-self: center;
}
.sub-note{
    color: var(--dark-gray);
    max-width: 25%;
    text-align: center;
}
.text-input-holder{
    display: flex;
    max-width: 40%;
    align-content: top;
    justify-content: center;
}
.text-input-descriptor{
    max-width: 30%;
}
.text-input-holder .text-input{
  flex-grow: 1;
  max-width: 70%;
}