.Icon-button{
    background-color: rgba(57, 57, 57, 60);
    border-radius: 10px;
    color: #FFFFFF ;
    font-family: 'Work Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    
    display: flex;
    align-items: center;
    overflow: hidden;
}
.Icon-button p {
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
}

.Icon-background{
    width: 100%;
    margin:2%;
    overflow: hidden;
}

.Icon-display-area {
    width: 30%;
    max-width: 75px;
    aspect-ratio: 1/1;
    margin: 2%;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #919191;
  }