:root{
  --white: #FFFFFF;
  --light-gray: #D9D9D9;
  --mid-gray: #919191;
  --dark-gray: #575757;
  --black: #000000;

  --light-blue: #C1E5F5;
  --light-blue-shading: #AEDDF3;
  --mid-blue: #83CBEB;
  --blue: #156082;
  --blue-shading: #0A5272;
  --dark-blue: #042433;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  background-image: url("./Images/rain_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:var(--white);

}
h1{
  font-size:calc(50px + 3vh);
}
p{
  backdrop-filter: blur(5px);
  width: auto;
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
}
.page{width: 100%;}
.centered{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-justified{
  width:100%;
}
.right-justified{
  width:100%;
  display: flex;
  justify-content: flex-end;
}
.evenly-spaced{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  align-items: center;
}
.top-menu{
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0; /* Specify the threshold position */
  z-index: 100;
  
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.small-button{
  width: fit-content;
}
.small-button .Icon-button p{  
  font-size:calc(12px + 0.5vw);
  max-width: 100px;
}
.tiny-button{
  width: fit-content;
}
.tiny-button p{  font-size:calc(2px + 0.5vw);}
.tiny-button .Icon-display-area {
  max-height: 40px;
  width:100%;
}
.tiny-button .Icon-button p{  width: 0; overflow: hidden;}
.tiny-button .Icon-button{
  aspect-ratio: 1/1;
}

.input-container {
  position: relative;
  width: 80%;
}


/* Style for the text input */
.text-input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--mid-gray);
  border-radius: 20px;
  position: relative;
}

/* Style for the placeholder */
.text-input-placeholder {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  transition: all 0.3s ease; /* Add transition for smooth animation */
  pointer-events: none; /* Ensure placeholder does not interfere with typing */
  color: var(--mid-gray);
  max-height: 1.7em;
  overflow: hidden;
}

/* Style for the placeholder when in focus or has value */
.text-input:focus + .text-input-placeholder,
.text-input:not(:placeholder-shown) + .text-input-placeholder {
  top: -15px; /* Adjust the top position when input is focused or has value */
  left: 10px; /* Adjust the left position as needed */
  font-size: 12px; /* Adjust the font size as needed */
  color: var(--white); /* Adjust the color as needed */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* an outline*/
}

.text-input:focus {
  outline: none;
  border-color: var(--blue); 
  box-shadow: 0 0 5px --mid-gray;
}

.youtube-container {
  width: 100%; /* Adjust this as needed */
  height: auto; /* Adjust this as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot{
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  padding: 0px;
  }