:root{
  --white: #FFFFFF;
  --light-gray: #D9D9D9;
  --mid-gray: #919191;
  --dark-gray: #575757;
  --black: #000000;

  --light-blue: #C1E5F5;
  --light-blue-shading: #AEDDF3;
  --mid-blue: #83CBEB;
  --blue: #156082;
  --blue-shading: #0A5272;
  --dark-blue: #042433;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  background-image: url("./Images/rain_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
}
.page{width: 100%;}
.centered{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-justified{
  width:100%;
}
.right-justified{
  width:100%;
  display: flex;
  justify-content: flex-end;
}
.evenly-spaced{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  align-items: center;
}
.top-menu{
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0; /* Specify the threshold position */
  z-index: 100;
  
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.small-button{
  height:5vw;
  width:10vw;
}
.small-button p{  font-size: medium;}