:root{
  --white: #FFFFFF;
  --light-gray: #D9D9D9;
  --mid-gray: #919191;
  --dark-gray: #575757;
  --black: #000000;

  --light-blue: #C1E5F5;
  --light-blue-shading: #AEDDF3;
  --mid-blue: #83CBEB;
  --blue: #156082;
  --blue-shading: #0A5272;
  --dark-blue: #042433;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{width: 100%;}
.centered{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-justified{
  width:100%;
}
.right-justified{
  width:100%;
}
.evenly-spaced{
  background-color: #156082;
  width: 90%;
  display: flex;
  align-items: center;
}